<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<!-- Очистить/удалить параметры строк соединения 
        главного конфигурационного файла компьютера 
        !!! необязательно !!! -->
		<clear/>

		<!-- добавить одну или несколько строк соединения -->
		<add name="RealEstateConnectionSQLServer"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RealEstateLV;Integrated Security=True;Pooling=True"
		     providerName="System.Data.SqlClient"/>

		<!-- Pooling = true или Pooling = false: включение или отключение пула для этого подключения -->
		<add name="RealEstateConnection"
		     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Students\ПД011\06 ADO.NET\03 Занятие ПД011 29.12.2021 ADO.NET\CW\001_Connections\ConnectionPooling\App_Data\RealEstateDb.mdf&quot;;Integrated Security=True;Pooling=True"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>