<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<clear/>

		<add name="Transactions"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\1. Programming\7. ADO.NET\02. 23.12.2021 -\2. Home work\HomeWork\HomeWork\App_Data\Transactions.mdf&quot;;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>

		<add name="CarRental"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\1. Programming\7. ADO.NET\02. 23.12.2021 -\2. Home work\HomeWork\HomeWork\App_Data\CarRental.mdf&quot;;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>