<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\1. Programming\7. ADO.NET\03. 29.12.2021 - Pool, шифрование конфигурационного файла\2. Home work\Periodicals\Periodicals\App_Data\Periodicals.mdf&quot;;Integrated Security=True; Pooling=True"
			 name="Periodicals"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>